@model List<Course>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>All Course List</h4>
        </div>
        <div class="card-body">
            <table class="table table-dark table-striped">
                <tr>
                    <th>ID</th>
                    <th>Course Name</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CourseId</td>
                        <td>@item.CourseName</td>
                        <td>
                            <a class="btn btn-outline-warning"
                               asp-action="EditCourse" asp-controller="Home" asp-route-id="@item.CourseId">Edit</a>
                        </td>
                        <td>
                            <a class="btn btn-danger"
                               asp-action="DeleteCourse" asp-controller="Home" asp-route-id="@item.CourseId">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="card-footer">
            <a asp-action="CreateCourse" asp-controller="Home" class="btn btn-outline-info">
                <i class="fas fa-plus-square mr-2" style="height:10px; width:10px; color:green"></i> Create Course
            </a>
        </div>
    </div>
</div>