@model VarsityManagement.ViewModels.EditCourseViewModel

<form method="post" asp-action="EditCourse" asp-controller="Home" asp-route-id="@Model.Id">
    <div class="container">
        <div class="card-header">
            <h5>Edit Course</h5>
        </div>
        <div class="card">
            <div class="card-body row">
                <input type="hidden" asp-for="Id" />
                <label asp-for="CourseName" class="col-md-2"></label>
                <input asp-for="CourseName" class="form-control col-md-10" />
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-outline-success">Update</button>
            </div>
        </div>
    </div>
</form>